<!doctype html>
<html lang="en">
    <head>
        <%- include('components/head.ejs'); -%>

        <title>Register</title>
    </head>
    <body style="text-align: center;">
      <%- include('components/header.ejs'); -%>

        <h5>Register yourself for Vaccination</h5>
        <div>

        <form action="/register" method="POST">
            First Name: <input type="text" name="firstname" required> <br>
            <br>
            Last Name: <input type="text" name="lastname" required> <br>
            <br>
            Email: <input type="email" required name="email" required> <br>
            <br>
            Birthday: <input type="date" name="age" required> <br> <br>
            Gender: <br>
            Male <input type="radio" name="gender" value="male"> <br> 
            Female <input type="radio" name="gender" value="female"> <br>
            Other <input type="radio" name="gender" value="other"> <br> <br>
            Profession:
            <select name="profession" required>
                <option name="profession">Healthcare Personnel</option>
                <option name="profession">Frontline essential workers</option> 
                <option name="profession">Other essential workers</option> 
                <option name="profession">Other</option> 
            </select> <br> <br>
            Health Conditions: <br>
            <input type="checkbox" name="lungproblems"> Lung Problems <br>
            <input type="checkbox" name="heartdisease"> Heart Disease <br>
            <input type="checkbox" name="diabetes"> Diabetes <br>
            <input type="checkbox" name="obesity"> Obesity <br>
            <input type="checkbox" name="cancer"> Cancer <br>
            <input type="checkbox" name="hiv/aids"> HIV/AIDS <br>
            <input type="checkbox" name="chronickidneyorliverdisease"> Chronic kidney or Liver Disease <br> <br>
            Aadhar Number: <input type="number" name="aadhar" required> <br>
            Phone Number: <input type="number" name="phone" required> <br>
            Have you or your family been infected by COVID-19 before?:
            <select name="covidbefore">
                <option value="yes" name="yes">Yes</option>
                <option value="no" name="no">No</option> 
            </select>
            <br> <br>
            Password: <input type="password" name="password" required><br>
            Alert: Please don't use your already used passwords
            <br><br>
            <input type="submit" class = "btn btn-outline-dark" value="Register">
        </form>
         </div><br>
         <a href="/login">Login to existing account</a>
         <br><br><br><br>
         <%- include('components/footer.ejs'); -%>

         <!--JavaScript - Bootstrap Bundle with Popper -->
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>
